<div class="home">
  <h2>
    Welcome <span *ngIf="userData">{{ userData.username }}</span>
  </h2>
  <div *ngIf="!userData">
    <p>
      We are happy to see you in our platform for sharing lessons, courses and
      tutorials.
    </p>
    <p>
      This site is perfect for peaple, who are looking for teachers, or simply
      want to learn a new skill
    </p>
    <p>In order to proceed please log in</p>
  </div>
  <div *ngIf="userData">
    <p>We are happy to see you back.</p>
    <p>
      You are free to post courses and start teaching or be taught yourself!
    </p>
  </div>
  <div class="auth-buttons" *ngIf="!userData">
    <a routerLink="/auth/login">Log In</a>
    <a routerLink="/auth/register">Register</a>
  </div>
</div>
