<div *ngIf="course" class="details-container">
  <img src="{{ course.imageUrl }}" alt="" class="course-img" />
  <div class="info-container">
    <div class="course-info">
      <h3>{{ course.name }}</h3>
      <p>{{ course.description }}</p>
      <p>Price: {{ course.price }}$</p>
      <p>Topics: Maths, Travel</p>
      <div *ngIf="!isOwner && isLogged" class="another-user">
        <button class="blue-btn">Buy</button>
        <button class="red-btn">Add to favorites</button>
      </div>
      <div *ngIf="isOwner" class="creator">
        <button class="blue-btn">Edit</button>
        <button class="red-btn">Delete</button>
      </div>
    </div>
    <div class="user-container">
      <a routerLink="/profile/{{ creator?.objectId }}">
        <img
          src="../../../assets/icon-iconapng.png"
          alt=""
          class="user-img"
        />
        <p>Creator: {{ creator?.username }}</p></a
      >
    </div>
  </div>
</div>
