#topics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#topic-div{
  background-color: #3aafa9;
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 1em;
}
#topic-div label{
  margin-top: 0;
}
input {
  display: inline;
  margin-left: 1em;
  border: none;
}
select{
  display: block;
  margin:0 auto
}