<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
  </head>
  <body>
    <a href="/">Home</a>
    {{#unless logged}}
      <a href="/auth/login">Login</a>
      <a href="/auth/register">Register</a>
    {{/unless}}
    {{#if logged}}<a href="/auth/logout">Logout</a>{{/if}}
    {{{body}}}
  </body>
</html>