.form {
  margin: 0 auto;
  text-align: center;
  border-radius: 0.5em;
  background-color: #def2f1;

  padding: 24px;
}
label {
  display: block;
  margin: 12px 0;
}
input{
    border: none;
    background-color: #feffff;
    border-radius: 0.2em;
}
input:focus{
    outline: none;
}
button {
  display: block;
  background-color: #17252a;
  color: #def2f1;
  padding: 0.5em;
  margin: 0 auto;
  margin-top: 12px;
  border: none;
  border-radius: 0.2em;
}
