.login-content {
    margin: 0 auto;
    text-align: center;
    border-radius: 0.5em;
    background-color: #def2f1;
    padding: 24px;
  }
input.ng-invalid.ng-touched{
  border-left: solid 5px red;
}
input{
  display: block;
  margin: 0 auto;
    text-align: center;
}
.error-field{
  float: right;
  background-color: red;
  color: #feffff;
}